<launch>
  <arg name="vision_computer" default="local"/>

  <!-- Config and weights folder -->
  <arg name="root_path" value="$(find riptide_hardware)" unless="$(eval arg('vision_computer') != 'local')"/>
  <arg name="root_path" value="$(env OSU_UWRT_PATH)" if="$(eval arg('vision_computer') != 'local')" />
  <arg name="weights_path"     value="$(arg root_path)/riptide_vision/weights" />
  <arg name="config_path"      value="$(arg root_path)/riptide_vision/cfg"/>

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(find riptide_vision)/cfg/darknet_params.yaml"/>
  <rosparam command="load" ns="darknet_ros" file="$(find riptide_vision)/cfg/darknet_model.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node machine="$(arg vision_computer)" pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" >
    <param name="weights_path"          value="$(arg weights_path)" />
    <param name="config_path"           value="$(arg config_path)" />
  </node>
  <node machine="$(arg vision_computer)" pkg="riptide_vision" type="darknet_processor.py" name="darkent_processor" output="screen" />

</launch>
